*.log
DUPLICITY_PHRASE
tmp
vim/bundle/*
vim/sessions/*
bin/migratemail.sh
vim/sessions/autosessions
vim/.rvmrc
vim/pathogen.vim
vim/.netrwhist
jedit/settings-backup
jedit/jars-cache
jedit/history
jedit/killring.xml
jedit/perspective.xml
jedit/plugins/projectviewer.ProjectPlugin/*
jedit/recent.xml
jedit/perspective.xml
jedit/history
/jedit/keymaps/imported_keys.props
